<div class="full-width text-white">
    <div class="container" fxLayout="row" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="6%">
        <div fxFlex="25%" class="center text-center">
            <h1>
               Safe payment.
            </h1>
            <mat-icon>payment</mat-icon>
            <p>Pay with the world's most popular and secure payment methodes</p>
        </div>
        <div fxFlex="25%" class="center text-center">
            <h1>
               Shop with confidence.
            </h1>
            <mat-icon>verified_user</mat-icon>
            <p>Our Buyer protection covers your purchase from click to delivery </p>
            
        </div>
        <div fxFlex="25%" class="center text-center">
            <h1>
               24/7 Support
            </h1>
            <mat-icon>contact_support</mat-icon>
            <p>All time customer support for all your problems and questions.</p>
        </div>
        <div fxFlex="25%" class="center text-center">
            <h1>
               Always there.
            </h1>
            <mat-icon>devices</mat-icon>
            <p>Shop on all your devices, any time</p>
        </div>
    </div>
</div>
