<div fxLayout="row" class="container" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
    <div class="info" *ngIf="notSetUpPhone$ | async">
        <h1>You have to set up your phone model in order to browse store</h1>
        <button color="primary" style="height: 50px; width: 200px" routerLink="Profile" mat-flat-button>Go to profile</button>
    </div>
    <mat-card class="product-card" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{photoUrl}}{{product.image}}" height="300" alt="{{product.name}}">
    <mat-card-content>
      <h4>
        Price: {{product.price}} $
      </h4>
      <h4>Connection type: {{product.connector}}</h4>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="addProductToCart(product)" mat-button>Add to chart </button>
    </mat-card-actions>
  </mat-card>

</div>