<div fxLayout="row" class="container" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">

  <mat-card *ngFor="let product of products" class="product-card">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/Images/productImages/{{product.id}}.jpg" height="300"
      alt="{{product.name}}">
    <mat-card-content>
      <h4>
        Price: {{product.price}} $
      </h4>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="removeProduct(product)" mat-button>Remove from cart</button>
    </mat-card-actions>
  </mat-card>

  <div class="full-width space-around">
    <button mat-flat-button color="accent" (click)="empty()">Empty Cart</button>
    <button mat-flat-button color="primary" (click)="checkout()">Go to checkout</button>
  </div>

</div>
