<div class="first-line text-center text-white fixed-photo">
  <h1>Set up your phone model in order to browse store
  </h1>
</div>
<div class="container center full-width">
  <h2>Change your personal data or phone model.</h2>

  <form>
    <table class="full-width" cellspacing="2">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="First Name" [formControl]="firstName" [value]="userName$ | async" required />
            <mat-error *ngIf="firstName.invalid">{{errorFirstName()}}</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Last Name" [formControl]="lastName" [value]="lastName$ | async" required />
            <mat-error *ngIf="lastName.invalid">{{errorLastName()}}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter your email" [formControl]="email" [value]="email$ | async" required />
      <mat-error *ngIf="email.invalid">{{errorEmail()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Phone Model</mat-label>
      <mat-select [formControl]="phone">
        <mat-option  *ngFor="let p of phones$ | async" [value]="p">
          {{p.model}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="phone.invalid">{{errorPhone()}}</mat-error>
    </mat-form-field>
    <div class="to-left full-width">
      <button mat-raised-button
              (click)="userUpdate()" color="primary">Update Profile</button>
    </div>
  </form>
</div>